<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.haue.taxi.mapper.RewardMapper">
  <resultMap id="BaseResultMap" type="cn.edu.haue.taxi.entity.Reward">
    <id column="id" jdbcType="CHAR" property="id" />
    <result column="admin" jdbcType="VARCHAR" property="admin" />
    <result column="driver_id" jdbcType="CHAR" property="driverId" />
    <result column="reason" jdbcType="VARCHAR" property="reason" />
    <result column="cost" jdbcType="INTEGER" property="cost" />
    <result column="from" jdbcType="VARCHAR" property="from" />
    <result column="time" jdbcType="TIMESTAMP" property="time" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from reward
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="cn.edu.haue.taxi.entity.Reward">
    insert into reward (id, admin, driver_id, 
      reason, cost, from, 
      time)
    values (#{id,jdbcType=CHAR}, #{admin,jdbcType=VARCHAR}, #{driverId,jdbcType=CHAR}, 
      #{reason,jdbcType=VARCHAR}, #{cost,jdbcType=INTEGER}, #{from,jdbcType=VARCHAR}, 
      #{time,jdbcType=TIMESTAMP})
  </insert>
  <update id="updateByPrimaryKey" parameterType="cn.edu.haue.taxi.entity.Reward">
    update reward
    set admin = #{admin,jdbcType=VARCHAR},
      driver_id = #{driverId,jdbcType=CHAR},
      reason = #{reason,jdbcType=VARCHAR},
      cost = #{cost,jdbcType=INTEGER},
      from = #{from,jdbcType=VARCHAR},
      time = #{time,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=CHAR}
  </update>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select id, admin, driver_id, reason, cost, from, time
    from reward
    where id = #{id,jdbcType=CHAR}
  </select>
  <select id="selectAll" resultMap="BaseResultMap">
    select id, admin, driver_id, reason, cost, from, time
    from reward
  </select>
</mapper>